##**1. Importando Pacotes**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

##**2. Lendo Banco de dados**

In [ ]:
dados = pd.read_csv('/content/drive/MyDrive/04. Cursos e palestras/Dio/Data science/train.csv')

In [ ]:
dados.head()

In [ ]:
dados = dados.drop(['Name','Ticket','Cabin','Embarked'], axis = 1)
dados.head()

##**3. Editando Chaves e Variável Resposta**

In [ ]:
dados = dados.set_index(['PassengerId'])
dados = dados.rename(columns={'Survived' : 'target'}, inplace = False)

In [ ]:
dados.head()

             target  Pclass     Sex   Age  SibSp  Parch     Fare
PassengerId
1                 0       3    male  22.0      1      0   7.2500
2                 1       1  female  38.0      1      0  71.2833
3                 1       3  female  26.0      0      0   7.9250
4                 1       1  female  35.0      1      0  53.1000
5                 0       3    male  35.0      0      0   8.0500

##**4. Descritiva**

In [ ]:
dados.describe()

In [ ]:
dados.describe(include=['O'])

##**5. Transformação dos dados**

In [ ]:
dados['Sex_F'] = np.where(dados['Sex'] == 'female', 1, 0)

dados['Pclass_1'] = np.where(dados['Pclass'] == 1, 1, 0)
dados['Pclass_2'] = np.where(dados['Pclass'] == 2, 1, 0)
dados['Pclass_3'] = np.where(dados['Pclass'] == 3, 1, 0)

In [ ]:
dados = dados.drop(['Pclass','Sex'], axis = 1)

In [ ]:
dados.isnull().sum()

In [ ]:
dados.fillna(0, inplace = True)

In [ ]:
dados.head()

##**6. Amostragem**

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(dados.drop(['target'], axis = 1), 
                                                    dados['target'], 
                                                    test_size = 0.3,
                                                    random_state = 1234)

[{'treino': x_train.shape}, {'teste': x_test.shape}]

[{'treino': (623, 8)}, {'teste': (268, 8)}]

In [ ]:
dados.head()

             target   Age  SibSp  Parch  ...  Sex_F  Pclass_1  Pclass_2  Pclass_3
PassengerId                              ...
1                 0  22.0      1      0  ...      0         0         0         1
2                 1  38.0      1      0  ...      1         1         0         0
3                 1  26.0      0      0  ...      1         0         0         1
4                 1  35.0      1      0  ...      1         1         0         0
5                 0  35.0      0      0  ...      0         0         0         1

[5 rows x 9 columns]

##**7. Modelo**

In [ ]:
rndforest = RandomForestClassifier(n_estimators=1000,
                                   criterion  = 'gini',
                                   max_depth = 5)
rndforest.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
probabilidade = rndforest.predict_proba(dados.drop('target', axis = 1))[:,1]
classificacao = rndforest.predict(dados.drop('target', axis = 1))

In [ ]:
print(dados.drop('target', axis = 1))

              Age  SibSp  Parch     Fare  Sex_F  Pclass_1  Pclass_2  Pclass_3
PassengerId
1            22.0      1      0   7.2500      0         0         0         1
2            38.0      1      0  71.2833      1         1         0         0
3            26.0      0      0   7.9250      1         0         0         1
4            35.0      1      0  53.1000      1         1         0         0
5            35.0      0      0   8.0500      0         0         0         1
...           ...    ...    ...      ...    ...       ...       ...       ...
887          27.0      0      0  13.0000      0         0         1         0
888          19.0      0      0  30.0000      1         1         0         0
889           0.0      1      2  23.4500      1         0         0         1
890          26.0      0      0  30.0000      0         1         0         0
891          32.0      0      0   7.7500      0         0         0         1

[891 rows x 8 columns]

In [ ]:
dados['probabilidade'] = probabilidade
dados['classificação'] = classificacao

In [ ]:
dados

##**8. Vizualizando**